.test-execution-area {
    background-color: rgb(27, 29, 30);
    width: 100%;
    height: 100%;
    color: rgb(105, 186, 231);
    padding-top: 40px;
}

.overall-well {
    background-color: rgb(47, 49, 50);
    width: 1000px;
    border: none;
    margin-left: 40px;
    color: white;
}

.overall {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.overall div {
    display: flex;
    align-items: center;
}

.overall .badge {
    font-size: inherit;
    padding: 5px 20px;
    margin-left: 10px;
}

.passed .badge {
    background: #5cb85c linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.failed .badge {
    background: #d9534f linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.skipped .badge {
    background: #5bc0de linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.total .badge {

}